.profile {
  left: 10px;
  position: relative;
  width: 35rem;
  height: 35rem;
  border-radius: 9%;
  /* overflow: hidden; */
  background: linear-gradient(to right, #6a11cb, #2575fc);
}
.profile-img {
  position: relative;
  text-align: center;
  width: 30rem;
  height: 39.5rem;
  left: 10px;
  /* object-fit: cover; */
  /* border-radius: 0%; */
  left: 47px;
  top: -75px;
}
.dots-1,
.dots-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-primary-to-secondary {
  background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.bg-gradient {
  background-image: linear-gradient(
    135deg,
    #1e30f3 0%,
    #e21e80 100%
  ) !important;
}

@media (max-width: 480px) {
  .profile-img {
    position: relative;
    width: 21rem;
    height: 39.5rem;
    left: 0;
    top: -75px;
  }
  .profile {
    left: 0;
  }
  .py-5 {
    padding-bottom: 0rem !important;
  }
 
}
